<div class="landing-page">
    <div class="navigation-container">
        <img src="../../../assets/logo/logo.png" alt="helt logo" />
    </div>
    <div class="landing-page-container">
        <div class="section-one">
                <div class="slogan">
                    <h1 class="fit">Get Fit,</h1>
                    <h1 class="inspo">Get Inspired,</h1>
                    <h1 class="conn">Get Connected.</h1>
                </div>
                 <div class="button-container">
                    <a href="https://bit.ly/thewellnesswaitlist" target="_blank"><button class="sign-up-button">Sign up</button></a>
                </div>
        </div>
        <div class="section-two">
            <div class="context-1">
                <div class="title">
                    <h1>Welcome to our health and fitness Community!</h1>
                </div>
                <div class="context">
                    <p>We're thrilled to announce the launch of our new health and fitness community, designed to empower and inspire you to live your best life.</p>

                    <p>Come join our community and get ready for some healthful fun! We have a whole range of activities to keep you moving and grooving every week. Whether you're a fitness fanatic or just starting out on your wellness journey, we've got something for everyone. And if you need a little extra push to get started, our personalized help will give you the motivation you need to take charge of your own health and well-being. Let's get active together!</p>
                </div>
            </div>
            <div class="context-2">
                <div class="title">
                    <h1>Our Mission</h1>
                </div>
                <div class="context">
                    <p>Our mission is to democratize healthcare and wellness by providing you with convenient and personalized ways to manage your health. We believe that everyone deserves access to quality healthcare services and products, and our community is here to help you achieve your health and wellness goals.</p>
                </div>
            </div>
        </div>
        <div class="section-three">
            <div class="context-1">
                <div class="title">
                    <h1>What we Offer</h1>
                </div>
                <div class="context">
                    <div class="offer-box">
                        <fa-icon [icon]="subscribe" class="icon"></fa-icon>

                        <p>Health and wellness events, activities (tennis, swimming, etc.), and resources</p>

                    </div>
                    <div class="offer-box">
                        <fa-icon [icon]="info" class="icon"></fa-icon>

                        <p>Personalized Coaching</p>
                    </div>
                    <div class="offer-box">
                        <fa-icon [icon]="money" class="icon"></fa-icon>

                        <p>Support and Accountability
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="section-four">
            <div class="context-1">
                <img src="https://images.unsplash.com/photo-1600679472025-f74038492f72?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=870&q=80" alt="get involved" />
            </div>
            <div class="context-2">
                <div class="title">
                    <h1>Get Involved</h1>
                </div>
                <div class="context">
                    <p>Join our community today and start your journey to better health. By signing up, you'll be among the first to know when our app becomes available. You'll also receive exclusive access to limited-time discounts on community activities and much more.</p>
                </div>
            </div>
        </div>
    </div>
        <div class="section-five">
            <div class="context-1">
                <div class="title">
                    <h1 style="color: white;">Sign up today!</h1>
                </div>
                <div class="context">
                    <p>Ready to take control of your health and wellness? Fill out the form below to join our community and start your journey to better health. We can't wait to connect with you!</p>
                </div>
            </div>
            <div class="button-container">
                <a href="https://bit.ly/thewellnesswaitlist" target="_blank"><button class="sign-up-button">Sign up</button></a>
            </div>
        </div>
</div>